body {
  background-color: #c8d2ec;
}

.TitleLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mainFrame {
  height: 80%;
  width: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  justify-content: space-evenly;
}

button {
  background-color: #c8d2ec;
  padding: 1em;
  font-size: 20px;
  border-radius: 5px;
  border-bottom: #c8d2ec;
  border-width: 0px;
  font-weight: 500;
}

.RoomName{
  margin-left: 1em;
  font-size: 24px;
}