
.main{
    display: flex;
    align-items: flex-start;
    background-color: #FFFFFF;
    

}

.bigBlock{
    background-color: #E5EDFF;
    display:flex;
    flex-direction: row;
    float: right;
    justify-content: flex-end;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 1rem;
    padding-right: 10rem;
    margin-left: 80rem;

    
}



.userIcon {
    padding: 1rem;
    margin: 2rem;
    border-radius: 5px;

    
}

.textBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px; 

}

.userText{
    text-align: left;
}

nav {
    
}


