

.main{
    display: flex;
    align-items: flex-start;
    background-color: #FFFFFF;
    

}

.bigBlock{
    background-color: #E5EDFF;
    display:flex;
    flex-direction: row;
    float: right;
    justify-content: flex-end;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 1rem;
    margin-left: auto;
    margin-right: 1rem; 

    
}



.userIcon {
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 5px;

    
}

.textBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px; 

}

.userText{
    text-align: left;
}




.nav-list {
    background-color: #C8D2EC;
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: center;
    min-height: 80vh;
    justify-content: flex-start;
    
}

.nav-list > div {
    background-color: #FFFFFF;
    margin: 10%;
    font-size: 1rem;
    border-radius: 10px;
    padding: 1.25rem;
    flex: 0;

    
}


.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1.5rem;


}

.grid-container > button {
    background-color: #FFFFFF;
    text-align: center;
    padding: 1.5rem;
    font-size: 2.8rem;
    border-radius: 10px;
    border-style: hidden;
    
  }

.grid-button-container{
    background-color: #C8D2EC;
    padding: 3rem;
    position: relative;
    border: 2.3rem solid #FFF;
    margin: 0 10% 0 20%;

}

.total-screen{

    margin: 0 10% 0 20%;
}

  .big-screen{
    background-color: #FFFFFF;

}



.small-screen{
    background-color: #C8D2EC;
    font-size: 3rem;
    margin-top: 2rem;
    size: 100px;

}


.det-button-container{

    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    background-color: #E9F3FF;
    padding: 1rem; 
    max-width: 60%; 
    margin: 8% auto auto 25%
}


.det-container{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 1rem; 

}


.det-container span:first-child {
    font-weight: bold;
    text-align: right;
}

.det-container span:last-child {
    text-align: left;
    
}

.det-container span {
    margin: 0.6rem;
    font-size: 1.3rem;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.det-container span::before,
.det-container span::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #C8D2EC;
}

.det-container span::before {
  top: 0; 
  transform: scaleX(1);
  transform-origin: left center;

}



.det-container span::after {
  bottom: 0;
  transform: scaleX(1);
  transform-origin: right center;

}

